
<!DOCTYPE html>

<html>
<head>

    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Hr</title>
</head>
<body>
    <div class="m-2">
       

        @RenderBody()
    </div>
</body>
</html>
